.header {
  width: 100%;
  min-height: 74px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  background-image: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 70px;
}

.header__link {
  
}

.header__profile {
  
}